.header {
    background-color: #83b6db;
    color: white;
    border-radius: 5px;
}

.indexlink {
    color: white;
    font-size: 22px;
}

.indexlink:hover {
    transition: 0.3s;
    color: #5e5e5e;
}

.mynav {
    margin: 5px; 
    margin-bottom: 0px;
    background-color: #b3d6fb;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: white;
}

.mytab {
    background-color: white;
}

.btn-primary {
    background-color: #428bca;
}

.btn-primary:enabled {
    background-color: #428bca;
}

.btn-primary:hover {
    background-color: #3276b1;
}

.btn-success {
    background-color: #5cb85c;
}

.btn-success:enabled {
    background-color: #5cb85c;
}

.btn-success:hover {
    background-color: #47a447;
}